{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">

        <h1>La foto de mi perfil</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repellendus officiis eos enim optio facilis ea? Quis non illo, rerum delectus, sed porro cum magnam quam deserunt consectetur, officia voluptate!
        </p>

    </div>

    <div class="col-4">
        <img src="assets/img/descarga.png" class="img-thumbnail" >
    </div>
</div>
 


{{> footer }}